@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Secular+One&display=swap");

:root {
  font-family: "Secular One", sans-serif;
  --dark-grey: #676767;
}

#home {
  background-image: url(../img/background-img/headcoffe.jpg);
  background-size: cover;
  display: flex;
  font-size: 20px;
  background-color: grey;
}

.banner {
  min-height: 100px;
  margin-top: 10%;
  margin-bottom: 10%;
  color: white;
}

.informationlogo {
  text-transform: undeercase;
  text-align: center;
}

header nav .logo-icon {
  display: flex;
  height: 44px;
  width: 176px;
}

header nav .menu a {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin: 10px;
  text-decoration: unset;
}

header .social {
  display: flex;
  justify-content: center;
}

header nav .social a {
  height: 20px;
  width: 20px;
  padding: 0px;
  border: 15px;
  margin: 10px;
}

header .menu {
  display: flex;
}
.clock {
  color:#ffffff;
  border:#ffffff;
  
}
header .social {
  display: flex;
  justify-content: center;
  color: white;
}

header nav .social a {
  height: 20px;
  width: 20px;
  padding: 0px;
  border: 15px;
  margin: 10px;
  color: white;
}

header .menu {
  display: flex;
}

header .social {
  display: flex;
  color: white;
}

h1 {
  font-family: "Fredoka One", cursive;
}

body {
  background-color: #dfd6c9;
}

.button {
  padding: 0.35em 1.2em;
  border: 0.1em solid #996b37;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  transition: color 0.7s;
  background-color: #734d26;
}

.button:hover {
  color: #000000;
  background-color: #ffffff;
  cursor: pointer;
}

.info .buttons {
  display: flex;
  justify-content: space-around;
}

.info article {
  background-image: url(../img/beige.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.taste {
  padding: 35px;
     
  text-align: center;
  color:aliceblue;
  background-image: url(../img/wood.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  }
  
  
.video {
border: solid red;
text-align: center;
size: cover;
 }

.li {
  font-size: 1.2rem;
  
}
.container2 {
  padding: 20px;
  background-image: url(../img/wood.jpg);
  background-repeat: no-repeat;
  background-size: cover;
display: flex;
height: 450px;  
}
.box1 {
 
  color:aliceblue;
  height: 300px;
}
.box2 {
  
  height: 200px;
 
}

.coffee-category {
  color: #ffd832;
}

.coffee-descr {
  background-color: white;
}

element.style {
  width: 360px;
}

.title {
  text-align: center;
  font-size: 27px;
  font-weight: 700;
}

.store {
  font-size: 18px;
  font-weight: 400;
  color: #413939;
  text-align: center;
}

#testimonials .title, #news .title {
  font-size: xx-large;
  font-weight: bold;
}

#testimonials h2, section#news h2 {
  color: var(--dark-grey);
  font-size: 90%;
}

.white-text {
  color: whitesmoke
}

#testimonials .customer {
  color: var(--dark-grey);
  font-size: larger;
}

#testimonials {
  background-color: #5b3733;
  text-align: center;
}

#testimonials article {
  background-color: #663B36;
}

#testimonials article p:first-of-type {
  color: #d8d8d8;
  font-style: italic;
}

#numbers {
  text-align: center;
}

#news {
  background-image: url(../img/wood.jpg);
}

#testimonials article > img, #news article > img {
  max-width: 100%;
}

#numbers {
  font-weight: bold;
  background-color: #f4ebe4;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex: 0 0 auto;
}

#numbers p:first-of-type {
  color: var(--dark-grey);
  font-size: xx-large;
}

#news > div > :not(article) {
  text-align: center;
}

#news article {
  background-color: white;
}

.date {
  font-weight: bold;
}
