@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Secular+One&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

:root {
  font-family: "Secular One", sans-serif;
  --dark-grey: #676767;
}
 
#home {
  background-image: url(../img/background-img/headcoffe.jpg);
  background-size: cover;
  font-size: 20px;
  background-color: grey;
}

.block3 {
  display: grid;
  grid-template-columns: 45% 55%;
  background-image: url(../img/background-img/coffeeblock3.jpg);
  background-size: cover;
  background-color: grey;
  width:950px;
  text-align: center;
}
.lorem {
background-color: white;
padding: 10px;
}
.banner {
  min-height: 100px;
  margin-top: 10%;
  margin-bottom: 10%;
  color: white;
}

.informationlogo {
  text-transform: undeercase;
  text-align: center;
}

header nav .logo-icon {
  display: flex;
  height: 44px;
  width: 176px;
}

header nav .menu a {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin: 10px;
  text-decoration: unset;
}

header .menu {
  display: flex;
}
.clock {
  color:#ffffff;
  border:#ffffff;
  
}

header .menu {
  display: flex;
}

h1 {
  font-family: "Fredoka One", cursive;
}

body {
  background-color: #dfd6c9;
}

.button {
  padding: 0.35em 1.2em;
  border: 0.1em solid #996b37;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  transition: color 0.7s;
  background-color: #734d26;
}

.button:hover {
  color: #000000;
  background-color: #ffffff;
  cursor: pointer;
}

.info .buttons {
  display: flex;
  justify-content: space-around;
  
}
.info button:hover {
  box-shadow: 0px 0px 20px #734d26;
}

.info {
  background-image: url(../img/beige.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.info h2 {
  color: #734d26;
}

.info .info-one {
  float: left;
  width: 70px;
  }
.info .info-two {
  float: left;
  width: 70px;
}
.info .info-three {
  float: left;
  width: 70px;
}
.info .info-four {
  float: left;
  width: 70px;
}
.taste {
  padding: 60px;
  text-align: center;
  color:aliceblue;
  background-image: url(../img/wood.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.taste img {
  box-shadow: 0px 0px 20px #faed27;
}
 
.products-img {
  width: 200px;
  box-shadow: 0px 0px 20px #FF4500;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.gallary {
  background: url(../img/wood.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.gallary h1 {
  color: #ffffff;
  text-align: center;
}
.gallary_list {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-flex;
  display: -webkit-flex;
  display: -webkit-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  height: 400px;
}
.gallary_item {
  position: relative;
  width: 300px;
  height: 250px;
  background-color: #ffffff;
  border: solid #dab38b;
  box-shadow: 0px 0px 20px #faed27;
}
.gallary_item img {
  margin-left: 70px;
  width: 150px;
  height: auto;
}
.gallary_item .text .title {
  color: #111;
  text-align: center;
}
.gallary_item .text p {
  margin: 20px 0;
}

.coffee-category {
  color: #ffd832;
}

.coffee-descr {
  background-color: white;
}

element.style {
  width: 360px;
}

.title {
  text-align: center;
  font-size: 27px;
  font-weight: 700;
}

.store {
  font-size: 18px;
  font-weight: 400;
  color: #413939;
  text-align: center;
}

.date {
  font-weight: bold;
}

.white-text {
  color: whitesmoke
}

#testimonials {
  background-color: #5b3733;
  text-align: center;
  padding-top: 2vh;
}

#testimonials h2, section#news h2 {
  color: var(--dark-grey);
  font-size: 90%;
}

#testimonials .title, #news .title {
  font-size: xx-large;
  font-weight: bold;
}

#testimonials .customer {
  color: var(--dark-grey);
  font-size: larger;
}

#testimonialsCarousel {
  background-color: #663B36;
}

#testimonials div.carousel-item p:first-of-type {
  color: #d8d8d8;
  font-style: italic;
}

#numbers {
  text-align: center;
  font-weight: bold;
  background-color: #f4ebe4;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#numbers div {
  width: 100%;
}

@media (min-width: 768px) {
  #numbers div {
    width: 50%;
  }
}

@media (min-width: 992px) {
  #numbers div {
    width: 25%;
  }
}

#numbers p:first-of-type {
  color: var(--dark-grey);
  font-size: xx-large;
}

#news {
  background-image: url(../img/background-img/wood.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 2vh;
}

#news img {
  min-height: 40vh;
  min-width: 80vh;
  max-height: 40vw;
  max-width: 80vw;
  object-fit: cover;
  margin: 2vmin;
}

#news {
  text-align: center;
}

#news .carousel-item {
  background-color: white;
}