@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Secular+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
:root {
  font-family: "Secular One", sans-serif;
  --dark-grey: #676767;  
}
  
#home {
  background-image: url(../img/background-img/headcoffe.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  font-size: 20px;
  background-color: grey;
  margin-right: auto;
    margin-left: auto;

}

.logo-icon {
  font-size: 2.0rem;
  font-family: "Fredoka One", cursive;
  color:rgb(105, 105, 105);
  display: block;
  font-weight: bold;
  text-align: center;
  margin: 10px;
  text-decoration: unset;
  margin-right: 2.5rem;
}

.nav1 {
  background-color: rgba(255, 255, 255, 0.651);
}

.logo2 {
  display: flex;
  max-width: 950px;
}

.block2 {
  background-color: rgba(238, 238, 238, 0.651);
}

.background2 {
  background-image: url(../img/background-img/coffee-background2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  min-height: 400px;
  background-color: rgba(255, 255, 255, 0.651);
}

.block3 {
  display: grid;
  grid-template-columns: 45% 55%;
 /* background-image: url(../img/background-img/block3.jpg);
  background-size: cover;
  background-color: grey;*/
  margin:auto;
  max-width:950px;
  text-align: center;
 max-height: 800px;
}

.lorem {
  background-color: rgb(211, 211, 211);
margin-top: -200px;
margin-bottom: 40px;

}

.background3 {
  background-image: url(../img/background-img/block3.jpg);
  background-size: cover;
  background-color: grey;
}

.banner {
  min-height: 400px;
  margin-top: 200px;
/*  margin-bottom: 10%;*/
  color: white;
  max-width: 950px;
}

.photoblock2 {
  padding-top: 20px;
  margin-bottom: 40px;

}

.photoblock {
  margin-top: 40px;
}

#information {
  text-align: center;
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
}

#information h2 {
  font-weight: bold;
}

.informationlogo article{
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 50px;
  margin-bottom: 50px;
  background-color: rgba(255, 255, 255, 0.733);
  border:5px 	
  groove black;
}


.informationlogo {
  text-align: center;
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

header nav .logo-icon {
  display: flex;
  height: 44px;
  width: 176px;
}

header nav .menu a {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color:rgb(105, 105, 105);
  text-align: center;
  margin: 20px;
  text-decoration: unset;
}


.clock {
  color:rgb(105, 105, 105);
  border:rgb(105, 105, 105);
  
}

header .menu {
  display: flex;
}

h1 {
  font-family: "Fredoka One", cursive;
}

body {
  background-color: #dfd6c9;
}

.button {
  padding: 0.35em 1.2em;
  border: 0.1em solid #996b37;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  transition: color 0.7s;
  background-color: #734d26;
}

.button:hover {
  color: #000000;
  background-color: #ffffff;
  cursor: pointer;
}


.info {
  background-image: url(../img/beige.jpg);
  background-repeat: no-repeat;
  background-size: cover;
    }
.info .buttons {
  display: flex;
  justify-content: space-around;
}

.info button:hover {
  box-shadow: 0px 0px 20px #734d26;  
}
.info h2 {
  color: #734d26;
  font-family: 'Marck Script', cursive;
  font-size: 50px;
}
.info h3:hover {
color: #734d26;
font-size: 30px;
font-family: 'Marck Script', cursive;
}
.info .info-one {
  float: left;
  width: 70px;
  }
.info .info-two {
  float: left;
  width: 70px;
}
.info .info-three {
  float: left;
  width: 70px;
}
.info .info-four {
  float: left;
  width: 70px;
}
.taste {
  padding: 60px;
  text-align: center;
  color:aliceblue;
  background-image: url(../img/wood.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.zoom {
  box-shadow: 0px 0px 20px #faed27;
  transition: 1s;
}
.zoom:hover {
  transform: scale(1.3);
}
.video {
  width: 100%;
  height: 500px;
  } 
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.gallary {
  background: url(../img/wood.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.gallary h1 {
  color: #ffffff;
  text-align: center;
}
.gallary_list {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-flex;
  display: -webkit-flex;
  display: -webkit-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  height: 400px;
}
.gallary_item {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: #ffffff;
  border: solid #dab38b;
  box-shadow: 0px 0px 20px #faed27;
}
.gallary_item img {
  margin-left: 70px;
  width: 150px;
  height: auto;
}
.gallary_item .text .title {
  color: #734d26;
  font-size: 30px;
  text-align: center;
  font-family: 'Marck Script', cursive;
  }
.gallary_item .text p {
  text-align: center;
  margin: 20px 0;
}
.gallary_item .b1 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.gallary_item .b2 {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.gallary_item .b3 {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}


.products article {
  border: 1px solid var(--main-color);
  padding: 5px;
  box-shadow: 0px 0px 20px #734d26;
  margin: 30px;
  text-align: center;
  transition: 1s;
    }
.products article:hover {
transform: scale(1.1);
}
.products article img {
  display: block;
  width: 100%;
}

.products article .buttons {
  display: flex;
  justify-content: space-around;
}
.buttons-sort {
  display: flex;
  justify-content: space-around;
}

@media (min-width: 560px) {
  .products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
  }
}

@media (min-width: 660px) {
  .products {
    grid-template-columns: 1fr 1fr 1fr;
    display: flex;
  justify-content: space-around;
  }
}

@media (min-width: 980px) {
  .products {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}



.coffee-category {
  color: #ffd832;
}

.coffee-descr {
  background-color: white;
}

element.style {
  width: 360px;
}

.title {
  text-align: center;
  font-size: 27px;
  font-weight: 700;
}

.store {
  font-size: 18px;
  font-weight: 400;
  color: #413939;
  text-align: center;
}

#testimonials {
  background-color: #5b3733;
  padding-bottom: 2vh;
  padding-top: 2vh;
  text-align: center;
}

#testimonials h2, #news h2 {
  color: var(--dark-grey);
  font-size: 90%;
}

#testimonials .title, #news .title {
  font-size: xx-large;
  font-weight: bold;
}

.white-text {
  color: whitesmoke
}

#testimonialsCarousel {
  background-color: #663B36;
}

#testimonials .carousel-item {
  padding: 3%;
}

#testimonials img {
  max-width: 50%;
}

#testimonials .customer {
  color: var(--dark-grey);
  font-size: larger;
}

#testimonials div.carousel-item p:first-of-type {
  color: #d8d8d8;
  font-style: italic;
}

.date {
  font-weight: bold;
}

#numbers {
  background-color: #f4ebe4;
  font-weight: bold;
  text-align: center;
}

#numbers > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#numbers div div {
  width: 100%;
}

@media (min-width: 768px) {
  #numbers div div {
    width: 50%;
  }
}

@media (min-width: 992px) {
  #numbers div div {
    width: 25%;
  }
}

#numbers p:first-of-type {
  color: var(--dark-grey);
  font-size: xxx-large;
}

#news {
  background-attachment: fixed;
  background-image: url(../img/background-img/wood.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 2vh;
  padding-top: 2vh;
  text-align: center;
}

#news > div > p {
  font-size: large;
  font-weight: bold;
}

#news .carousel-item {
  background-color: white;
  text-align: left;
}

#news .carousel-item * {
  margin-left: 3%;
  margin-right: 3%;
}

#news img {
  border-radius: 6px;
  margin-top: 3%;
  width: 94%;
}

#news .date {
  color: var(--dark-grey);
}

#news h3 {
  font-size: large;
  font-weight: bold;
}
