:root {
  --grey-background: #d8d8d8;
  --anchor-hover: #676767;
}

header {
  background-color: var(--grey-background);
  color: white;
  padding-bottom: 30px;
  padding-top: 30px;
}

header > div:first-child, header > div.menu div {
  display: flex;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
}

header img {
  width: 66px;
}

.ham {
  cursor: pointer;
  /*height: 1rem;*/
  /*position: absolute;*/
  /*right: 1rem;*/
  /*top: 1rem;*/
  /*width: 1rem;*/
  /* z-index: 100; */
}

.menu {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: var(--grey-background);
  transform: translateY(-100%);
  transition: transform 0.2s;
  padding-top: 30px;
}

.showMenu {
  transform: translateY(0);
}

.xIcon {
  display: none;
}

header .menu nav * {
  margin-bottom: 10px;
  margin-top: 10px;
}

header nav {
  display: flex;
  font-weight: bold;
  flex-direction: column;
}

header nav a {
  color: white;
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
}

header a:hover, footer a:hover {
  color: var(--anchor-hover);
}

header .menu h1 {
  margin-top: 10px;
}

header .menu > a button {
  margin-top: 30px;
}

header > div.container:last-child {
  display: none;
}

header button {
  font-weight: bold !important;
}

@media (min-width: 992px) {
  header > div:first-child a {
    display: none;
  }

  .ham {
    display: none;
  }

  header > div.container:last-child {
    display: flex;
    justify-content: space-between;
  }

  header > div:last-child > div {
    display: flex;
    flex-wrap: wrap;
    width: 25%;
  }

  header nav {
    flex-direction: unset;
    flex-wrap: wrap;
    font-size: large;
    width: 55%;
  }

  header a {
    align-self: center;
  }
}

main {
  background-image: url("../img/product-page/background-dark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

main > div {
  padding-bottom: 4%;
  padding-top: 4%;
}

@media (min-width: 767px) {
  main > div {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 1fr 1fr;
  }
}

main img {
  background-color: white;
  width: 100%;
}

.in-stock {
  color: #61a854;
}

.out-of-stock {
  color: orange;
}

main h2, #price {
  font-weight: bold;
}

main form button {
  margin-bottom: 20px;
  margin-top: 20px;
}

main input {
  margin-top: 5px;
  width: 150px !important;
}

footer {
  background-color: var(--grey-background);
  text-align: center;
}

footer > div:first-child {
  background-color: rgb(222, 213, 200);
  padding-top: 4vh;
}

footer > div > a > img {
  width: 90px;
}

footer > div:first-child p {
  color: rgb(170, 155, 143);
  font-weight: bold;
}

footer nav {
  display: flex;
  flex-direction: column;
}

@media (min-width: 992px) {
  footer nav {
    flex-direction: unset;
    justify-content: space-evenly;
  }
}

footer a {
  color: black;
  font-size: large;
  margin-bottom: 10px;
  margin-top: 10px;
  text-decoration: none;
}

footer > div:last-child {
  padding-bottom: 15px;
  padding-top: 15px;
}
