:root {
  --grey-background: #d8d8d8;
  --anchor-hover: #676767;
}

header {
  background-color: var(--grey-background);
  color: white;
  padding-bottom: 30px;
  padding-top: 30px;
}

header > div:first-child, header > div.menu div {
  display: flex;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
}

header img {
  width: 66px;
}

.ham, .popup button {
  background: none;
  border: none;
}

.material-icons {
  font-size: xx-large;
}

.menu {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: var(--grey-background);
  transform: translateY(-100%);
  transition: transform 0.2s;
  padding-top: 30px;
}

.showMenu {
  transform: translateY(0);
}

.xIcon {
  display: none;
}

header .menu nav * {
  margin-bottom: 10px;
  margin-top: 10px;
}

header nav {
  display: flex;
  font-weight: bold;
  flex-direction: column;
}

header nav a {
  color: white;
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
}

header a:hover, footer a:hover {
  color: var(--anchor-hover);
  text-decoration: underline;
}

header .menu h1 {
  margin-top: 10px;
}

header .menu > a button {
  margin-top: 30px;
}

header > div.container:last-child {
  display: none;
}

header button {
  font-weight: bold !important;
}

@media (min-width: 992px) {
  header > div:first-child a {
    display: none;
  }

  .ham {
    display: none;
  }

  header > div.container:last-child {
    display: flex;
    justify-content: space-between;
  }

  header > div:last-child > div {
    display: flex;
    flex-wrap: wrap;
    width: 25%;
  }

  header nav {
    flex-direction: unset;
    flex-wrap: wrap;
    font-size: large;
    width: 55%;
  }

  header a {
    align-self: center;
  }
}

main {
  background-image: url("../img/shop/background-dark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

main > div:first-child {
  padding-bottom: 4%;
  padding-top: 4%;
}

@media (min-width: 767px) {
  main > div:first-child {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 1fr 1fr;
  }
}

main img {
  background-color: white;
  cursor: pointer;
  width: 100%;
}

.in-stock {
  color: #61a854;
}

.out-of-stock {
  color: orange;
}

main h2, #price {
  font-weight: bold;
}

main form button {
  margin-bottom: 20px;
  margin-top: 20px;
}

main input {
  margin-top: 5px;
  width: 150px !important;
}

main .popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
}

main .popup div {
  background-color: #f7f8fa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 24px;
}

main .popup h2 {
  color: black;
}

main .popup img {
  height: 90%;
  padding: 24px;
  width: auto;
}

footer {
  background-color: var(--grey-background);
  text-align: center;
}

footer > div:first-child {
  background-color: rgb(222, 213, 200);
  padding-top: 4vh;
}

footer > div > a > img {
  width: 90px;
}

footer > div:first-child p {
  color: rgb(170, 155, 143);
  font-weight: bold;
}

footer nav {
  display: flex;
  flex-direction: column;
}

@media (min-width: 992px) {
  footer nav {
    flex-direction: unset;
    justify-content: center;
  }

  footer nav a {
    margin-left: 18px;
    margin-right: 18px;
  }
}

footer a {
  color: black;
  font-size: large;
  margin-bottom: 10px;
  margin-top: 10px;
  text-decoration: none;
}

footer div div {
  display: flex;
  justify-content: center;
}

footer div div a {
  margin-left: 5px;
  margin-right: 5px;
}

footer div div a * {
  height: 33px;
  width: 33px;
}

footer div div a :last-child {
  display: none;
}

footer > div:last-child {
  padding-bottom: 15px;
  padding-top: 15px;
}
